
.idea/

ItPos.Api/bin/

ItPos.Api/obj/

ItPos.DataAccess/bin/

ItPos.DataAccess/obj/

ItPos.Domain/bin/

ItPos.Domain/obj/

ItPos.Test/bin/

ItPos.Test/obj/

ItPos.Infrastructure/bin

ItPos.Infrastructure/obj